.dashboard {
  padding: 30px;

  .filters {
    margin-bottom: 2px;

    @include lg {
      flex-direction: row;
      display: flex;
      height: 40px;
      padding: 0;
      margin-bottom: 4px;
      justify-content: space-between;
    }
  }

  .row {
    flex-direction: column;
    margin: 2px 0;

    @include sm {
      flex-direction: row;
    }

    .cell {
      width: 100%;
    }
  }

  .imagePlaceholder {
    width: 30px;
    height: 30px;
  }

  .searchInput {
    margin: 7px 0;

    @include lg {
      width: 48%;
      margin: 0;
    }
  }

  .filtersSwitch {
    @include sm {
      flex-direction: row;

      > div {
        flex: 1;
        text-align: center;
      }
    }

    @include lg {
      width: 48%;
    }
  }
}
